@import url(/css/header.css);
@import url(/css/aside.css);
@import url(/css/footer.css);


/* color palette */
:root {
  --main-color: hsl(175, 16%, 31%);
  --title-text-color: hsl(29, 88%, 80%);
  --contrast-color: hsl(255, 100%, 100%);
  --bg-color-containers: hsl(255, 100%, 100%);
}


body{
    background-color: hsl(208, 57%, 92%);
    font-family: 'Raleway', sans-serif;
    color:	hsl(175, 16%, 31%);
}

header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 203px 1fr;
    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
}

header > div{
    border: 0px solid white;
}

h1, .pay-off{
    padding-left: 25px;
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 312px 1fr;
    border: 0px solid white;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 50px;
}

aside{
    border: 0px solid white;
    background-color: hsl(255, 100%, 100%);
    padding: 25px;
    border:5px solid white;
    border-radius: 10px 0px 0 10px;
    height: 100vh;
}

.aside-container{
    display: grid;
    grid-template-rows: 30px 200px 1fr; 
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.profile-pic{
    display: flex;
    border: 2px solid hsl(175, 16%, 31%);;
    border-radius: 400px;
    height: 60px;
    width: 60px;
}

nav{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 600;
}

ul{
   display: grid;
   grid-template-columns: 50px 1fr; 
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}

ul > span{
    padding-top: 10px;
    padding-bottom: 10px;
}

ul > li{
    padding-top: 10px;
    list-style: none;

}

/* main */

main{
    border: 0px solid white;
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 2fr 1fr;
    border: 0px solid white;
    background-color: hsl(176, 18%, 69%);
    padding: 25px;
    border:5px solid white;
    border-radius: 0px 10px 10px 0px;
    height: 100vh;
}

.inner-container-overview{
    background-color: hsl(255, 100%, 100%);
    border: 1px solid hsl(255, 100%, 100%);
    border-radius: 5px 5px 0 0;
    
}

.title-container-overview{
    background-color: hsl(175, 16%, 31%);
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-template-columns: 1fr;
    border: 1px solid hsl(175, 16%, 31%);;
    border-radius: 5px 5px 0 0;
    align-items: center;
    color: var(--title-text-color);
    padding-left:10px;
    font-weight: 600;
}